@charset "UTF-8";
* {
  text-align: center;
  text-decoration: none;
  font-family: "游ゴシック体","Yu Gothic";
}

* h3 {
  color: #253436;
  font-size: 32px;
  line-height: 1.68;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}

header div.header-wrap {
  z-index: 10;
  width: 1050px;
  margin: 0 auto;
  background-color: rgba(37, 52, 54, 0.9);
  background-size: cover;
  height: 70px;
  display: flex;
  align-items: center;
}

header div.header-wrap img {
  justify-content: flex-start;
  position: relative;
  top: -3px;
  margin-left: 20px;
}

header div.header-wrap nav {
  height: 100%;
  position: relative;
  right: -70px;
}

header div.header-wrap nav ul li {
  display: inline-block;
}

header div.header-wrap nav ul li a {
  line-height: 70px;
  padding: 15px 0;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 25.31px;
  font-size: 14px;
}

header div.header-wrap nav ul li .products-button {
  color: #008700;
  border-bottom: 10px solid #008700;
  padding: 15px 20px;
  position: relative;
}

header div.header-wrap nav ul li .contact-button {
  background-color: #ff6200;
  padding: 24px 30px 25px 25px;
}

header div.header-wrap nav ul li .contact-button:hover {
  background-color: #ffffff;
  color: #ff6200;
}

header div.header-wrap nav ul li .contact-button i {
  margin-left: 12px;
}

main div.top {
  position: relative;
  top: -70px;
  height: 300px;
  background-image: url("../images/配管BOX.png");
  background-size: cover;
}

main div.top div.topBG {
  background-color: rgba(32, 48, 50, 0.5);
  height: 100%;
}

main div.top div.topBG div.top-wrap h1 {
  position: relative;
  top: 170px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.68;
  color: white;
}

main div.products-summary {
  height: 200px;
}

main div.products-summary div.products-summary-wrap {
  position: relative;
  top: -70px;
}

main div.products-summary div.products-summary-wrap h2 {
  font-size: 32px;
  line-height: 1.68;
  margin-top: 80px;
}

main div.products-summary div.products-summary-wrap p {
  font-size: 16px;
  line-height: 1.68;
  margin-top: 50px;
}

main div.products-detail div.product1 {
  background-color: #F5F5F5;
  height: 763px;
}

main div.products-detail div.product1 div.product-wrap {
  position: relative;
  top: 48px;
}

main div.products-detail div.product1 div.product-wrap div.product-top p {
  color: #008700;
  font-family: "Open Sans";
  font-weight: bold;
  letter-spacing: 1.6px;
  line-height: 1.35;
  text-align: center;
}

main div.products-detail div.product1 div.product-wrap div.product-top h3 {
  margin-top: 14px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3.2px;
  line-height: 1.68;
}

main div.products-detail div.product1 div.product-wrap div.product-images img {
  margin: 40px 30px 30px 30px;
}

main div.products-detail div.product1 div.product-wrap p {
  font-size: 16px;
  line-height: 1.68;
  width: 1050px;
  margin: 0 auto;
  text-align: left;
}

main div.products-detail div.product2 {
  height: 738px;
}

main div.products-detail div.product2 div.product-wrap {
  position: relative;
  top: 48px;
}

main div.products-detail div.product2 div.product-wrap div.product-top p {
  color: #008700;
  font-family: "Open Sans";
  font-weight: bold;
  letter-spacing: 1.6px;
  line-height: 1.35;
  text-align: center;
}

main div.products-detail div.product2 div.product-wrap div.product-top h3 {
  margin-top: 14px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3.2px;
  line-height: 1.68;
}

main div.products-detail div.product2 div.product-wrap div.product-images img {
  width: 320px;
  height: 320px;
  margin: 40px 15px 30px 15px;
}

main div.products-detail div.product2 div.product-wrap p {
  font-size: 16px;
  line-height: 1.68;
  width: 1050px;
  margin: 0 auto;
  text-align: left;
}

main div.products-detail div.product3 {
  background-color: #F5F5F5;
  height: 763px;
}

main div.products-detail div.product3 div.product-wrap {
  position: relative;
  top: 48px;
}

main div.products-detail div.product3 div.product-wrap div.product-top p {
  color: #008700;
  font-family: "Open Sans";
  font-weight: bold;
  letter-spacing: 1.6px;
  line-height: 1.35;
  text-align: center;
}

main div.products-detail div.product3 div.product-wrap div.product-top h3 {
  margin-top: 14px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3.2px;
  line-height: 1.68;
  margin-bottom: 40px;
}

main div.products-detail div.product3 div.product-wrap div.product-images {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

main div.products-detail div.product3 div.product-wrap div.product-images div.imgBG {
  background-color: #F5F5F5;
  width: 495px;
  height: 320px;
  margin-right: 15px;
}

main div.products-detail div.product3 div.product-wrap div.product-images div.imgBG img {
  width: 452px;
  height: 120px;
  margin-top: 120px;
  margin-left: 27px;
}

main div.products-detail div.product3 div.product-wrap div.product-images img {
  width: 495px;
  height: 320px;
  margin-left: 15px;
}

main div.products-detail div.product3 div.product-wrap p {
  font-size: 16px;
  line-height: 1.68;
  width: 1050px;
  margin: 0 auto;
  text-align: left;
}

main div.contact {
  position: relative;
  background-image: url("../images/フッターCTA_背景@.png");
  background-size: cover;
  height: 312px;
}

main div.contact div.contactBG {
  background-color: rgba(29, 37, 41, 0.9);
  background-size: cover;
  width: 480px;
  height: 252px;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

main div.contact div.contactBG div.contact-wrap {
  position: relative;
  top: 32px;
}

main div.contact div.contactBG div.contact-wrap h2 {
  font-family: "游ゴシック体","Yu Gothic";
  font-weight: bold;
  font-size: 24px;
  color: white;
}

main div.contact div.contactBG div.contact-wrap p {
  line-height: 27px;
  width: 393px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "游ゴシック体","Yu Gothic";
  color: white;
  font-size: 16px;
  margin-bottom: 40px;
}

main div.contact div.contactBG div.contact-wrap a.contact-button {
  font-family: "游ゴシック体","Yu Gothic";
  background-color: #FF6200;
  color: #FFFFFF;
  padding: 17.35px 70px 16.65px 68px;
}

main div.contact div.contactBG div.contact-wrap a.contact-button:hover {
  background-color: #ffffff;
  color: #ff6200;
}

main div.contact div.contactBG div.contact-wrap a.contact-button i {
  margin-left: 13px;
}

footer div.footer-wrap {
  height: 169px;
  display: flex;
  align-items: center;
}

footer div.footer-wrap div.company-logo img {
  padding-left: 115px;
}

footer div.footer-wrap div.company-logo p {
  color: #1e2d2f;
  margin-left: 75px;
  line-height: 24px;
  font-size: 14px;
}

footer div.footer-wrap nav {
  margin-left: 66px;
}

footer div.footer-wrap nav ul {
  display: flex;
}

footer div.footer-wrap nav ul li {
  margin-right: 40px;
}

footer div.footer-wrap nav ul li a {
  color: #1e2d2f;
}

footer div.copyright {
  border-top: 1px dotted #000;
  height: 33px;
}

footer div.copyright p {
  line-height: 33px;
  font-size: 12px;
  font-family: serif;
  font-weight: normal;
}
